.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  width: 100%;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
  margin-top: 84px;
}

.selectBrandWrapper {
  min-width: 204px;
}

.selectPriceWrapper {
  min-width: 196px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background-color: #f7f7fb;
  border-radius: 14px;
  padding: 0 14px 0 18px;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s;
}

.control:hover {
  background-color: #e8e8f0;
}

.placeholder {
  color: #121417;
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.singleValue {
  color: #121417;
  font-weight: 500;
  font-size: 18px;
}

.inputSelect {
  color: #121417;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.separator {
  display: none;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
  color: #121417;
}

.menu {
  background-color: #fff;
  border-radius: 14px;
  margin-top: 4px;
  border: 1px solid rgba(18, 20, 23, 0.05);
  position: absolute;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.menuList {
  padding: 8px 0;
  max-height: 272px;
  overflow-y: auto;
}

.menuList::-webkit-scrollbar {
  width: 8px;
}
.menuList::-webkit-scrollbar-thumb {
  background: #dadde1;
  border-radius: 10px;
}

.option {
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(18, 20, 23, 0.2);
  cursor: pointer;
  background-color: transparent;
  transition: color 0.2s;
}

.optionFocused {
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 500;
  color: #121417;
  cursor: pointer;
  background-color: transparent;
}

.optionSelected {
  padding: 8px 18px;
  font-size: 16px;
  font-weight: 500;
  color: #121417;
  cursor: default;
  background-color: transparent;
}

.mileageWrapper {
  display: flex;
  align-items: center;
  min-width: 320px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 160px;
}

.prefix {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  pointer-events: none;
  z-index: 1;
}

.input {
  width: 100%;
  height: 48px;
  background-color: #f7f7fb;
  border: none;
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  outline: none;
  padding-left: 70px;
  padding-right: 10px;
}

.inputLeft {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid #dadde1;
}

.inputRight {
  border-radius: 0 12px 12px 0;
  padding-left: 50px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.searchBtn {
  border-radius: 12px;
  padding: 12px 51px;
  background: #3470ff;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  border: none;
}

.searchBtn:hover {
  background-color: #0b44cd;
}

.icon {
  width: 16px;
  height: 16px;
}
