.list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 80px;
  justify-content: baseline;
}

.wrapper {
  padding-top: 56px;
}
.moreBtn {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 51px;
  background: transparent;
  margin: 0 auto;
  display: block;
}
