.list {
  gap: 48px 32px;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 276px);
  justify-content: center;
  padding: 0;
}

.wrapper {
  padding-top: 56px;
  min-height: 100vh;
}
.moreBtn {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: #101828;
  border: 1px solid #3470ff;
  border-radius: 12px;
  padding: 12px 51px;
  background: transparent;
  margin: 0 auto;
  display: block;
}

.imgLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
