.hero {
  min-height: calc(100vh - 68px);
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  background-image: url("/car.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 60px;
  background-color: #fff;
}

.title {
  font-family: var(--font-manrope);
  padding-top: 436px;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.description {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.button {
  font-family: var(--font-manrope);
  border-radius: 12px;
  padding: 12px 99px;
  background-color: #3470ff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}
