.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 84px 120px;
  display: flex;
  gap: 72px;
  justify-content: space-between;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.imgWrapper {
  width: 100%;
  height: auto;
  border-radius: 19px;
  overflow: hidden;
}

.img {
  width: 640px;
  height: 512px;
  object-fit: cover;
  display: block;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #101828;
}

.carId {
  margin-left: 16px;
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.cityText {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  margin-right: 16px;
}

.locationRow {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.mileage {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.price {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: #3470ff;
  margin-bottom: 32px;
}

.description {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  max-width: 488px;
  margin-bottom: 68px;
}

.section {
  margin-bottom: 110px;
}

.sectionTitle {
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 20px;
}

.condition {
  font-family: var(--font-manrope);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.conditionsList,
.accessoriesList,
.specsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.conditionItem,
.accessorieItem,
.specItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkIcon {
  width: 16px;
  height: 16px;
}

.specIcon {
  width: 16px;
  height: 16px;
}

.loaderPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.locationIcon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
}
